* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    color: white;
}

body {
    overflow-x: hidden;
    background-color: #20083D;
}

:root {
    --primary-color: #542BE2;
    --secondary-color: #DFAA11;
}

/* Global Components */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
}

.title {
    font-size: 80px;
}

section {
    margin-top: 50px;
}


/* ! Our Sports & Club Partnerships */
.horizontal-images {
    display: flex;
    flex-wrap: wrap;
    /* wrap on small screens */
    z-index: 1;
    position: relative;
    margin-top: 100px;
}

.horizontal-images .image-card {
    flex: 1 1 20%;
    /* 5 images take equal width */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 300px;
}

.horizontal-images .image-card img {
    width: 100%;
    display: block;
    border-radius: 0;
    min-height: 300px;
    /* no margin, no spacing */
}

.horizontal-images .image-card p {
    margin: 5px 0 10px;
    font-size: 20px;
}

.horizontal-images .blur-topcenter {
    position: absolute;
    width: 70%;
    height: 100px;
    background: #DFAA11;
    filter: blur(60px);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

}

.horizontal-images .center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    gap: 10px;
}

/*  */