.btn-primary {
    display: block;
    border: none;
    outline: none;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    width: 140px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;

}

/* Header Styles */
.header {
    width: 100%;
    background: linear-gradient(to right, #0F0B1E, #20083D);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar .nav-links {
    display: flex;
    background-color: #EDF0F533;
    border-radius: 12px;
    padding: 5px;
    height: 50px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links .active {
    color: #FFFFFF;
    background-color: var(--secondary-color);
    border-radius: 12px;
}

.hambarger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    width: 40px;
    height: 40px;
    border: 0.5px solid rgba(255, 255, 255, 0.395);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    display: none;
}

.hambarger-menu span {
    width: 20px;
    height: 2px;
    background-color: white;
    border-radius: 2px;
}


.hero-section {
    margin-top: 80px !important;
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero-text {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.hero-text,
.hero-image {
    flex: 1;
}

.hero-section .blur-topleft {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #542BE2;
    filter: blur(150px);
    top: -100px;
    left: -100px;
    z-index: -1;
    /* opacity: 0.7; */
}

.hero-section .blur-bottomright {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #DFAA11;
    filter: blur(150px);
    bottom: -100px;
    right: -100px;
    z-index: -1;
    /* opacity: 0.9; */
}

/* !WHY SPORTS HEIST? */
.why-sportsheist h1 {
    text-align: right;
}

.why-sportsheist .card {
    display: flex;
    border: 2px solid #542BE2;
    border-radius: 12px;
    padding: 50px;
    gap: 20px;
    background-color: #0F0B1E;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 20px;
    min-height: 300px;
    align-items: center;
}

.why-sportsheist .card-left,
.card-right {
    flex: 1;
}

.why-sportsheist .blur-rightmiddle {
    position: absolute;
    width: 150px;
    height: 150px;
    background: #DFAA11;
    filter: blur(30px);
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
    z-index: -1;
}

/* ! How we’re changing the game Section */
.how-were-changing-the-game {
    z-index: 1;
    position: relative;
}

.how-were-changing-the-game > div h1,
.how-were-changing-the-game > div h2,
.how-were-changing-the-game > div h3,
.how-were-changing-the-game > div p {
    font-family: "Poppins", sans-serif;
}

.how-were-changing-the-game .title {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

.how-were-changing-the-game .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 01fr 1fr;
    grid-template-areas:
        "card1 image card3"
        "card2 image card4";
        gap: 50px;
}

.how-were-changing-the-game .image {
    grid-area: image;
}

.how-were-changing-the-game .card1 {
    grid-area: card1;
}

.how-were-changing-the-game .card2 {
    grid-area: card2;
}

.how-were-changing-the-game .card3 {
    grid-area: card3;
}

.how-were-changing-the-game .card4 {
    grid-area: card4;
}

.how-were-changing-the-game .blur-center {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #542BE2;
    filter: blur(100px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}