/* Global */
.title {
    font-size: 50px;
}

.navbar {
    border: 0.5px solid rgba(255, 255, 255, 0.395);
    border-radius: 12px;
    height: 70px;
    padding: 0 15px;
}

.hambarger-menu {
    display: flex;
}

.navbar .nav-links,
.nav-buttons {
    display: none;
}

.hero-section {
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.hero-text {
    align-items: center;
}

.hero-text p {
    font-size: 15px !important;
}

/* !WHY SPORTS HEIST? */
.why-sportsheist h1 {
    text-align: center;
}


.why-sportsheist .card {
    flex-direction: column;
    padding: 20px;
}

.why-sportsheist .card p:nth-child(1) {
    font-size: 28px !important;
}

/* ! How we’re changing the game Section */
.how-were-changing-the-game .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "image"
        "card1"
        "card2"
        "card3"
        "card4";
    gap: 20px;
}

.how-were-changing-the-game .card1,
.how-were-changing-the-game .card2,
.how-were-changing-the-game .card3,
.how-were-changing-the-game .card4 {
    text-align: center;
}

/* !Choose your path */
.choose-your-path .cards .container {
    flex-direction: column;
    gap: 0px;
    padding: 50px 0px;
}

.choose-your-path .vr {
    display: none;
}

.choose-your-path .cards .card1,
.choose-your-path .cards .card2 {
    width: 100%;
    padding: 50px 50px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.choose-your-path .blur-bottomcenter {
    display: none;
}

.choose-your-path .cards .card1 .blur-bottomcenter1 {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #542BE2;
    filter: blur(100px);
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.choose-your-path .cards .card2 .blur-bottomcenter2 {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #DFAA11;
    filter: blur(100px);
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}