* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    color: white;
}

body {
    overflow-x: hidden;
    background-color: #20083D;
}

:root {
    --primary-color: #542BE2;
    --secondary-color: #DFAA11;
}

/* Global Components */
.container {
    max-width: 1200px !important;
    margin: 0 auto;
    padding: 50px 20px;
}

.title {
    font-size: 80px;
}

section {
    margin-top: 50px;
}

.btn-primary {
    display: block;
    border: none;
    outline: none;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    width: 140px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
}

.btn-outline-white {
    display: block;
    border: 1px solid white;
    outline: none;
    text-decoration: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    width: 140px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
}