* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bebas Neue", sans-serif;
    color: white;
}

body {
    overflow-x: hidden;
    background-color: #20083D;
}

:root {
    --primary-color: #542BE2;
    --secondary-color: #DFAA11;
}

/* Global Components */
.container {
    max-width: 1200px !important;
    margin: 0 auto;
    padding: 50px 20px;
}

.title {
    font-size: 80px;
    font-weight: 500;
}

section {
    margin-top: 50px;
}

.btn-primary {
    display: block;
    border: none;
    outline: none;
    text-decoration: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    width: 140px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
}

.btn-outline-white {
    display: block;
    border: 1px solid white;
    outline: none;
    text-decoration: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    width: 140px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 12px;
    cursor: pointer;
}

/* ! navbar */

.navbar .nav-links.active {
    display: flex;
}

.hambarger-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.5s all;
}

.hambarger-menu.active span:nth-child(2) {
    opacity: 0;
    transition: 0.5s all;
}

.hambarger-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.5s all;
}

/* !diamond border  */
.diamond-b {
    width: 250px;
    height: 7px;
    background: linear-gradient(to bottom right, #AF97FF 0%, rgba(199, 164, 248, 0.00) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #AF97FF 0%, rgba(199, 164, 248, 0.00) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #AF97FF 0%, rgba(199, 164, 248, 0.00) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #AF97FF 0%, rgba(199, 164, 248, 0.00) 50%) top right / 50% 50% no-repeat;
    margin: 20px auto;
}

@media screen and (max-width: 767px) {
    .diamond-b {
        width: 200px;
    }
}

/* footer */
@media screen and (max-width: 767px) {


    .footer-right {
        width: 100% !important;
    }

    .footer .footer-links {
        grid-template-columns: repeat(3, 1fr) !important;
        /* display: none !important; */
        font-size: 10px;
        gap: 5px !important;
    }
}

@media screen and (min-width: 1024px) {
    .hero__title {
        font-weight: normal !important;
        line-height: 85px !important;
    }

    .why__sportsheist__title {
        font-size: 128px;
    }

    .how__werre__chain__title,
    .choose__your_path__title, .how__it__work__title {
        font-weight: normal;
        font-size: 96px;
    }

    .choose__your_path__sub_title {
        font-family: Poppins;
        max-width: 700px;
        font-size: 24px;
        font-weight: 500;
    }

    .forclubfanstitle {
        font-size: 96px;
        font-weight: normal;
    }

    .horizontal-images_title {
        font-size: 128px;
        line-height: 120px;
        font-weight: normal !important;
    }

    .horizontal-images_sub-title {
        font-weight: 400;
    }

    .partnership__title {
        font-size: 64px;
    }

    .partnershipbtn {
         width: 230px ;
    }

}