/* Global */
.title {
    font-size: 50px;
}

.navbar {
    border: 0.5px solid rgba(255, 255, 255, 0.395);
    border-radius: 12px;
    height: 70px;
    padding: 0 15px;
}

.hambarger-menu {
    display: flex;
}


.navbar .nav-links, .nav-buttons {
    display: none;
}

.hero-section {
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.hero-text {
    align-items: center;
}

.hero-text p {
    font-size: 15px !important;
}