/* !Global */
.title {
    font-size: 50px;
}

.navbar {
    border: 0.5px solid rgba(255, 255, 255, 0.395);
    border-radius: 12px;
    height: 70px;
    padding: 0 15px;
}

.hambarger-menu {
    display: flex;
}

.navbar .nav-buttons {
    display: none;
}

.navbar .nav-links {
    position: fixed;
    top: 150px;
    right: 20px;
    min-width: 230px;
    height: fit-content;
    background-color: #0F0B1E;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
    display: none;
    z-index: 100;
}

.nav-links li {
    width: 100%;
}

.nav-links li a {
    width: 100%;
    justify-content: left;
    height: 50px;
    padding-left: 20px;
}

.nav-links .nav-links-login {
    display: block;
}

.hero-section {
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.hero-text {
    align-items: center;
}

.hero-text p {
    font-size: 15px !important;
}

/* !WHY SPORTS HEIST? */
.why-sportsheist .card2 .card-left {
    order: 2;
}

.why-sportsheist .card2 .card-right {
    order: 1;
}


.why-sportsheist h1 {
    text-align: center;
}


.why-sportsheist .card {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 0px !important;
}

.why-sportsheist .card p:nth-child(1) {
    font-size: 28px !important;
}

.why-sportsheist .card-right1 {
    padding-right: 0px;
}

.why-sportsheist .card-left2 {
    padding-left: 0px;
}


.why-sportsheist .card-left1 .cls {
    display: flex;
    justify-content: center;
}

.why-sportsheist .card-left1 img {
    max-width: 200px;
    position: absolute;
    bottom: 0px;
}

/*  */
.why-sportsheist .card-right2 .cls {
    display: flex;
    justify-content: center;
}

.why-sportsheist .card-right2 img {
    max-width: 200px;
    position: static;
}

.why-sportsheist .card-right2 .card-left-sec2 img {
    max-width: 140px;
    margin-top: -50px;
}

.why-sportsheist .card1 .card-right {
    padding: 20px;

}

.why-sportsheist .card2 .card-left {
    padding: 20px;

}

/* ! How we’re changing the game Section */
.how-were-changing-the-game .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "image"
        "card1"
        "card2"
        "card3"
        "card4";
    gap: 50px;
}

.how-were-changing-the-game .card1,
.how-were-changing-the-game .card2,
.how-were-changing-the-game .card3,
.how-were-changing-the-game .card4 {
    text-align: center;
    align-items: center;
}

/* !Choose your path */
.choose-your-path .cards .container {
    flex-direction: column;
    gap: 0px;
    padding: 0px 0px;
}

.choose-your-path .vr {
    display: none;
}

.choose-your-path .cards .card1,
.choose-your-path .cards .card2 {
    width: 100%;
    padding: 50px 50px;
    position: relative;
    z-index: 1;
    /* overflow: hidden; */
}

.choose-your-path .blur-bottomcenter {
    display: none;
}

.choose-your-path .cards .card1 .blur-bottomcenter1 {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #542BE2;
    filter: blur(100px);
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.choose-your-path .cards .card2 .blur-bottomcenter2 {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #DFAA11;
    filter: blur(100px);
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

/* .choose-your-path img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

} */

.choose-your-path .cards .card1 {
    padding-bottom: 100px;
}

.choose-your-path .img1 {
    top: -100px;
    max-width: 200px;
}

.choose-your-path .img2 {
    top: -50px;
    max-width: 230px;

}

/* !How it works */
.how-it-works .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "image"
        "card1"
        "card2"
        "card3"
        "card4";
    gap: 50px;
}

.how-it-works .image {
    position: relative;
}

.how-it-works .image img {
    width: 200px;
}


.how-it-works .card1,
.how-it-works .card2,
.how-it-works .card3,
.how-it-works .card4 {
    text-align: center;
}

/* ! Get Started */
.get-started .container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.get-started button {
    width: 100%;
}

.get-started .getstr-features .card {
    padding: 20px 0px;
}

/* !Ready to Take Your Club to the Next Level? */
.ready-to-take-your-club .ready-to-take-your-club-img {
    width: 90%;
}

/* !Footer */
.footer .container {
    flex-direction: column;
    gap: 50px;
}

.footer .footer-login-1 {
    display: block;
}

.footer .footer-login-2 {
    display: none;
}

.footer .footer-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}