/* ! Header Styles */
.header {
    width: 100%;
    background: linear-gradient(to right, #0F0B1E, #20083D);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar .nav-links {
    display: flex;
    background-color: #EDF0F533;
    border-radius: 12px;
    padding: 5px;
    height: 50px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links .nav-links-login{
    display: none;
}

.nav-links .active {
    color: #FFFFFF;
    background-color: var(--secondary-color);
    border-radius: 12px;
    font-weight: 500;
}

.hambarger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    width: 40px;
    height: 40px;
    border: 0.5px solid rgba(255, 255, 255, 0.395);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    display: none;
}

.hambarger-menu span {
    width: 20px;
    height: 2px;
    background-color: white;
    border-radius: 2px;
}


.hero-section {
    margin-top: 80px !important;
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero-text {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.hero-text,
.hero-image {
    flex: 1;
}

.hero-section .blur-topleft {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #542BE2;
    filter: blur(150px);
    top: -100px;
    left: -100px;
    z-index: -1;
    /* opacity: 0.7; */
}

.hero-section .blur-bottomright {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #DFAA11;
    filter: blur(150px);
    bottom: -100px;
    right: -100px;
    z-index: -1;
    /* opacity: 0.9; */
}

/* !Get Involved. instantly. */
.get-involved-section h1 {
    text-align: center;
}

.get-involved-section .card-row {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.get-involved-section .card-row .card {
    flex: 1;
}

.get-involved-section .card {
    display: flex;
    /* border-style: solid;
    border-image: linear-gradient(to right, darkblue, darkorchid) 1 border-box;
    border-radius: 12px !important;

    border: 1px solid transparent; */

    background: linear-gradient(#0F0B1E, #0F0B1E) padding-box,
        linear-gradient(to bottom right, #AA95F0, #542BE2, #20083D) border-box;
    border-radius: 12px;
    /* Example for a highly rounded border */
    border: 1.4px solid transparent;

    overflow: hidden;
    padding: 50px;
    gap: 20px;
    background-color: #0F0B1E;
    position: relative;
    z-index: 1;
    overflow: hidden;
    margin-top: 20px;
    min-height: 350px;
    align-items: center;
}

.get-involved-section .card-left,
.card-right {
    flex: 1;
}

.get-involved-section .blur-topcenter-blue {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #542BE2;
    filter: blur(100px);
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.get-involved-section .blur-topcenter-blue {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #542BE2;
    filter: blur(100px);
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.get-involved-section .blur-topcenter-yellow {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #DFAA11;
    filter: blur(100px);
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.get-involved-section .blur-topleft-yellow {
    position: absolute;
    width: 300px;
    height: 200px;
    background: #DFAA11;
    filter: blur(100px);
    top: -50px;
    left: 0px;
    z-index: -1;
}


/* ! Your Voice Matters */
.your-voice-section {
    z-index: 1;
    position: relative;
}

.your-voice-section>div h1,
.your-voice-section>div h2,
.your-voice-section>div h3,
.your-voice-section>div p {
    font-family: "Poppins", sans-serif;
}

.your-voice-section .title {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

.your-voice-section .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 01fr 1fr;
    grid-template-areas:
        "card1 image card3"
        "card2 image card4";
    gap: 50px;
}

.your-voice-section .image {
    grid-area: image;
}

.your-voice-section .card1 {
    grid-area: card1;
}

.your-voice-section .card2 {
    grid-area: card2;
}

.your-voice-section .card3 {
    grid-area: card3;
}

.your-voice-section .card4 {
    grid-area: card4;
}

.your-voice-section .blur-center {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #542BE2;
    filter: blur(100px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* !Virtual Fan, Looker Room */
.virtual-fan-section {
    position: relative;
    z-index: 1;
    /* overflow: hidden; */
}

.virtual-fan-section h1 {
    font-size: 60px;
}

.virtual-fan-section .title:nth-child(1),
.sub-title {
    text-align: center;
}

.virtual-fan-section .cards {
    background-color: #0F0B1E;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.virtual-fan-section .blur-bottomcenter {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #DFAA11;
    filter: blur(100px);
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.virtual-fan-section .blur-bottomcenter-main {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #542BE2;
    filter: blur(100px);
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.virtual-fan-section .cards .container {
    display: flex;
    gap: 50px;
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 300px;
    align-items: center;
    text-align: center;
}

.virtual-fan-section .vr {
    width: 2px;
    height: 200px;
    background-color: white;
}

.virtual-fan-section .cards .card1,
.virtual-fan-section .cards .card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0px;
    flex: 1;
}



/* !Footer */
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-links {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    list-style-type: none;
}

.footer .footer-links li a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.footer .credits {
    padding-top: 0px;
}

.footer .footer-right {
    display: flex;
    gap: 50px;
    align-items: center;
}

.footer .footer-login-1 {
    display: none;
}

.footer .footer-login-2 {
    display: block;
}