/* !Global */
.title {
    font-size: 50px;
}

.navbar {
    border: 0.5px solid rgba(255, 255, 255, 0.395);
    border-radius: 12px;
    height: 70px;
    padding: 0 15px;
}

.hambarger-menu {
    display: flex;
}

.navbar .nav-buttons {
    display: none;
}

.navbar .nav-links {
    position: fixed;
    top: 150px;
    right: 20px;
    min-width: 230px;
    height: fit-content;
    background-color: #0F0B1E;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
    display: none;
    z-index: 100;
}

.nav-links li {
    width: 100%;
}

.nav-links li a {
    width: 100%;
    justify-content: left;
    height: 50px;
    padding-left: 20px;
}

.nav-links .nav-links-login{
    display: block;
}

.hero-section {
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.hero-text {
    align-items: center;
}

.hero-text p {
    font-size: 15px !important;
}

/* !Get Involved. instantly. */
.get-involved-section h1 {
    text-align: center;
}

.get-involved-section .card-row {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.get-involved-section .card {
    flex-direction: column;
    padding: 20px;
}

.get-involved-section .card p:nth-child(1) {
    font-size: 28px !important;
}

/* ! Your Voice Matters  */
.your-voice-section .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "image"
        "card1"
        "card2"
        "card3"
        "card4";
    gap: 20px;
}

.your-voice-section .card1,
.your-voice-section .card2,
.your-voice-section .card3,
.your-voice-section .card4 {
    text-align: center;
}

/* !Virtual Fan, Looker Room */
.virtual-fan-section .cards .container {
    flex-direction: column;
    gap: 0px;
    padding: 0px 0px;
}

.virtual-fan-section h1 {
    font-size: 40px;
}

.virtual-fan-section .vr {
    display: none;
}

.virtual-fan-section .cards .card1,
.virtual-fan-section .cards .card2 {
    width: 100%;
    padding: 50px 50px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.virtual-fan-section .blur-bottomcenter {
    display: none;
}

.virtual-fan-section .cards .card1 .blur-bottomcenter1 {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #542BE2;
    filter: blur(100px);
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.virtual-fan-section .cards .card2 .blur-bottomcenter2 {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #DFAA11;
    filter: blur(100px);
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

/* !Fair & Secure Participation */
.fair-secure-section .container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.fair-secure-section button {
    width: 100%;
}

.fair-secure-section .getstr-features .card {
    padding: 20px 0px;
}



/* !Footer */
.footer .container {
    flex-direction: column;
    gap: 50px;
}

.footer .footer-login-1 {
    display: block;
}

.footer .footer-login-2 {
    display: none;
}

.footer .footer-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}