/* ! Header Styles */
.header {
    width: 100%;
    background: linear-gradient(to right, #0F0B1E, #20083D);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar .nav-links {
    display: flex;
    background-color: #EDF0F533;
    border-radius: 12px;
    padding: 5px;
    height: 50px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links .nav-links-login {
    display: none;
}

.nav-links .active {
    color: #FFFFFF;
    background-color: var(--secondary-color);
    border-radius: 12px;
    font-weight: 500;
}

.hambarger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    width: 40px;
    height: 40px;
    border: 0.5px solid rgba(255, 255, 255, 0.395);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    display: none;
}

.hambarger-menu span {
    width: 20px;
    height: 2px;
    background-color: white;
    border-radius: 2px;
}


.hero-section {
    margin-top: 80px !important;
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero-text {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.hero-text,
.hero-image {
    flex: 1;
}

.hero-image img {
    width: 100%;
    height: auto;
    margin-bottom: -100px;
}

.hero-section .blur-topleft {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #542BE2;
    filter: blur(150px);
    top: -100px;
    left: -100px;
    z-index: -1;
    /* opacity: 0.7; */
}

.hero-section .blur-bottomright {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #DFAA11;
    filter: blur(150px);
    bottom: -100px;
    right: -100px;
    z-index: -1;
    /* opacity: 0.9; */
}

/* !CHALLENGEs */
.challenges {
    /* z-index: 1; */
    margin-top: 300px;
    position: relative;
}

.challenges .blurr {
    position: absolute;
    width: 80%;
    height: 100px;
    background: #542BE2;
    filter: blur(60px);
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
}

.challenges::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 0px;
    height: 600px;
    width: 100%;
    background-color: #0F0B1E;
    z-index: -1;
}

.challenges .title-bar {
    text-align: center;
    position: relative;
    z-index: 1;
}


.challenges .title-bar img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1000;
    max-width: 500px;
}

.challenges .container {
    padding: 0px 20px !important;
}

/* Cards */
.challenges .card-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 140px;
    z-index: 10;
}

.challenges .card-container .card {
    flex: 1;
    padding: 30px;
    background: linear-gradient(#0F0B1E, #0F0B1E) padding-box,
        linear-gradient(to bottom right, #AA95F0, #542BE2, #20083D) border-box;
    border-radius: 12px;
    /* Example for a highly rounded border */
    border: 1.4px solid transparent;
    min-height: 390px;
    max-height: 390px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.challenges .card-container .card .blur {
    position: absolute;
    width: 80%;
    height: 300px;
    background: #532be280;
    filter: blur(40px);
    right: 0px;
    top: -50px;
    /* transform: translateX(-50%); */
    z-index: -1;
}

.challenges .card-container .ctitle {
    font-size: 50px;
    margin-bottom: 10px;
}

.challenges .card-container .cpara {
    font-family: "Poppins";
}

.challenges .card-container .list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.challenges .card-container .list-wrapper .list {
    display: flex;
    gap: 10px;
    align-items: start;
    font-family: "Poppins";
}

.challenges .card-container .list-wrapper p {
    font-family: 'Poppins';
}

.challenges .card-container .list-wrapper svg {
    min-width: 20px;
}

/* banner */
.challenges .banner-container {
    margin-top: 20px;

}

.challenges .banner {
    display: flex;
    width: 100%;
    /* padding: 30px; */
    background: linear-gradient(#0F0B1E, #0F0B1E) padding-box,
        linear-gradient(to bottom right, #AA95F0, #542BE2, #20083D) border-box;
    border-radius: 12px;
    /* Example for a highly rounded border */
    border: 1.4px solid transparent;
    min-height: 340px;
    position: relative;
    z-index: 1;
}

.challenges .banner .blur {
    position: absolute;
    width: 80%;
    height: 300px;
    background: #dfac1131;
    filter: blur(40px);
    right: 0px;
    /* top: -50px; */
    /* transform: translateX(-50%); */
    z-index: -1;
}

.challenges .banner .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    flex: 1;
    text-align: center;
    justify-content: center;
    padding: 30px;
}

.challenges .banner .left {
    flex: 1;
    display: flex;
    justify-content: center;
}

.challenges .banner .left img {
    margin-top: -100px;
}

.challenges .banner .btitle {
    font-size: 80px;
}

.challenges .banner .bpara {
    max-width: 300px;
}

.challenges .banner .btn-primary {
    width: 300px !important;
    margin-top: 10px;
}


/* !Harness fan energy to strengthen your club */

/* !SPORTS HEIST ENABLES CLUBS TO */

/* !Monetise Fan Engagement */

/* !How it works: */

/* !More engagement = More revenue */

/* !Leverage the Power of Data */

/* !WHAT YOU LEARN */

/* !BOOST CLUB MEMBERSHIPS. INCREASE FAN COMMITMENT. */

/* !SIMPLIFY Fan Management */

/* !How it works: */

/* !CLUBS set the rules. */

/* !Protecting clubs from vote manipulation and fraudulent memberships. */

/* !Join Sports Heist At No Cost to Your Club */


/* !Footer */
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-links {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    list-style-type: none;
}

.footer .footer-links li a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.footer .credits {
    padding-top: 0px;
}

.footer .footer-right {
    display: flex;
    gap: 50px;
    align-items: center;
}

.footer .footer-login-1 {
    display: none;
}

.footer .footer-login-2 {
    display: block;
}