/* ! Header Styles */
.header {
    width: 100%;
    background: linear-gradient(to right, #0F0B1E, #20083D);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar .nav-links {
    display: flex;
    background-color: #EDF0F533;
    border-radius: 12px;
    padding: 5px;
    height: 50px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links .nav-links-login {
    display: none;
}

.nav-links .active {
    color: #FFFFFF;
    background-color: var(--secondary-color);
    border-radius: 12px;
    font-weight: 600;
}

.hambarger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    width: 40px;
    height: 40px;
    border: 0.5px solid rgba(255, 255, 255, 0.395);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    display: none;
}

.hambarger-menu span {
    width: 20px;
    height: 2px;
    background-color: white;
    border-radius: 2px;
}


.hero-section {
    margin-top: 80px !important;
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero-text {
    gap: 20px;
    display: flex;
    flex-direction: column;
    max-width: 582px;
    padding-left: 20px;
}

/* Mobile responsive - remove padding on mobile */
@media screen and (max-width: 767px) {
    .hero-text {
        padding-left: 0;
        max-width: 100%;
    }
}

.hero-text,
.hero-image {
    flex: 1;
}

.hero-image {
    margin-right: -50px;
}

.hero-text .title {
    font-size: 95px;
    line-height: 95px;
}

.hero-image img {
    width: 100%;
    height: auto;
    margin-bottom: -153px
}

.header .blur-topleft {
    position: absolute;
    width: 500px;
    height: 500px;
    background: #542BE2;
    filter: blur(100px);
    top: -100px;
    left: -100px;
    z-index: -1;
    /* opacity: 0.7; */
}

.header .blur-bottomright {
    position: absolute;
    width: 500px;
    height: 500px;
    background: #DFAA11;
    filter: blur(100px);
    bottom: -100px;
    right: -100px;
    z-index: -1;
    /* opacity: 0.9; */
}
/* !CHALLENGEs */
.challenges {
    /* z-index: 1; */
    margin-top: 300px;
    position: relative;
}

.challenges .blurr {
    position: absolute;
    width: 80%;
    height: 100px;
    background: #542BE2;
    filter: blur(60px);
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
}

.challenges::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 0px;
    height: 600px;
    width: 100%;
    background-color: #0F0B1E;
    z-index: -1;
}

.challenges .title-bar {
    text-align: center;
    position: relative;
    z-index: 1;
}


.challenges .title-bar img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1000;
    max-width: 500px;
}

.challenges .container {
    padding: 0px 20px !important;
}

/* Cards */
.challenges .card-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 140px;
    z-index: 10;
}

.challenges .card-container .card {
    flex: 1;
    padding: 30px;
    background: linear-gradient(#0F0B1E, #0F0B1E) padding-box,
        linear-gradient(to bottom right, #AA95F0, #542BE2, #20083D) border-box;
    border-radius: 12px;
    /* Example for a highly rounded border */
    border: 1.4px solid transparent;
    min-height: 420px;
    max-height: 420px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.challenges .card-container .card .blur {
    position: absolute;
    width: 80%;
    height: 300px;
    background: #532be280;
    filter: blur(40px);
    right: 0px;
    top: -50px;
    /* transform: translateX(-50%); */
    z-index: -1;
}

.challenges .card-container .ctitle {
    font-size: 50px;
    margin-bottom: 10px;
}

.challenges .card-container .cpara {
    font-family: "Poppins";
}

.challenges .card-container .list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.challenges .card-container .list-wrapper .list {
    display: flex;
    gap: 10px;
    align-items: start;
    font-family: "Poppins";
}

.challenges .card-container .list-wrapper p {
    font-family: 'Poppins';
}

.challenges .card-container .list-wrapper svg {
    min-width: 20px;
}

/* banner */
.challenges .banner-container {
    margin-top: 20px;

}

.challenges .banner {
    display: flex;
    width: 100%;
    /* padding: 30px; */
    background: linear-gradient(#0F0B1E, #0F0B1E) padding-box,
        linear-gradient(to bottom right, #AA95F0, #542BE2, #20083D) border-box;
    border-radius: 12px;
    /* Example for a highly rounded border */
    border: 1.4px solid transparent;
    min-height: 340px;
    position: relative;
    z-index: 1;
}

.challenges .banner .blur {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #dfac11;
    filter: blur(70px);
    left: 50%;
    transform: translate(-50%);
    top: -50px;
    /* transform: translateX(-50%); */
    z-index: -1;
}

.challenges .banner .right {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    flex: 1;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    padding: 30px;
}

.challenges .banner .left {
    flex: 1;
    display: flex;
    justify-content: center;
}

.challenges .banner .left img {
    margin-top: -100px;
}

.challenges .banner .btitle {
    font-size: 80px;
}

.challenges .banner .bpara {
    max-width: 300px;
    /* display: none; */
    font-weight: 300 !important;
    font-family: "Poppins";
}

.challenges .banner .btn-primary {
    width: 300px !important;
    margin-top: 10px;
}


/* !Harness fan energy to strengthen your club */
.harness-fan-energy-to-strengthen-your-club {
    overflow: hidden;
}

.harness-fan-energy-to-strengthen-your-club .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.harness-fan-energy-to-strengthen-your-club .container .left,
.right {
    flex: 1;
}

.harness-fan-energy-to-strengthen-your-club .left {
    position: relative;
    z-index: 1;
}

.harness-fan-energy-to-strengthen-your-club .left img {
    width: 100%;
}

.harness-fan-energy-to-strengthen-your-club .right h1,
p {
    margin-bottom: 20px !important;
}

.harness-fan-energy-to-strengthen-your-club .blur-center {
    position: absolute;
    width: 400px;
    height: 400px;
    background: #542BE2;
    filter: blur(100px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* !SPORTS HEIST ENABLES CLUBS TO */
.sports-heist-enable {
    font-family: Arial, sans-serif;
    color: white;
    /* padding: 60px 20px; */
    text-align: center;
}

.sports-heist-enable h2 {
    font-size: 28px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.sports-heist-enable .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.sports-heist-enable .card {
    flex: 1;
    /* max-width: 300px; */
    background: radial-gradient(circle at top, rgba(170, 149, 240, 0.25), rgba(15, 11, 30, 0.9));
    border: 2px solid #aa95f0;
    border-radius: 12px;
    padding: 30px 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(#0F0B1E, #0F0B1E) padding-box,
        linear-gradient(to bottom right, #AA95F0, #542BE2, #20083D) border-box;
    border-radius: 12px;
    /* Example for a highly rounded border */
    border: 1.4px solid transparent;
    position: relative;
    overflow: hidden;
    font-family: "poppins" !important;
}

.sports-heist-enable .icon {
    width: 40px;
    height: 40px;
    margin: 0 auto 20px;
    background: yellow;
    /* Placeholder - replace with SVG */
    border-radius: 50%;
}

.sports-heist-enable .card p {
    font-size: 16px;
    font-family: "poppins" !important;

    line-height: 1.5;
}

.sports-heist-enable .bottom-text {
    margin: 40px 0 20px;
    font-size: 18px;
    font-family: "poppins" !important;

}

.sports-heist-enable .btn {
    display: inline-block;
    padding: 12px 30px;
    background: #542BE2;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    font-family: "poppins" !important;

    text-decoration: none;
    transition: background 0.3s ease;
}

.sports-heist-enable .card .blur {
    position: absolute;
    width: 80%;
    height: 70%;
    background: #532be280;
    filter: blur(40px);
    right: 0px;
    top: -50px;
    /* transform: translateX(-50%); */
    z-index: -1;
}


/* !Monetise Fan Engagement */
.monetise-fan-engagments {
    overflow: hidden;
}

.monetise-fan-engagments .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    /* flex-direction: row-reverse; */
}

.monetise-fan-engagments .container .left,
.right {
    flex: 1;
}

.monetise-fan-engagments .left {
    position: relative;
    z-index: 1;
}

.monetise-fan-engagments .left img {
    width: 100%;
}

.monetise-fan-engagments .right h1,
p {
    margin-bottom: 20px !important;
}

.monetise-fan-engagments .blur-center {
    position: absolute;
    width: 400px;
    height: 400px;
    background: #542BE2;
    filter: blur(100px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* !How it works: */

/* !More engagement = More revenue */

/* !Leverage the Power of Data */
.leverage-the-power-of-data {
    z-index: 1;
    position: relative;
}

.leverage-the-power-of-data>div h1,
.leverage-the-power-of-data>div h2,
.leverage-the-power-of-data>div h3,
.leverage-the-power-of-data>div p {
    font-family: "Poppins", sans-serif;
}

.leverage-the-power-of-data .title {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

.leverage-the-power-of-data .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 01fr 1fr;
    grid-template-areas:
        "card1 image card3"
        "card2 image card4";
    gap: 50px;
}

.leverage-the-power-of-data .image {
    grid-area: image;
}

.leverage-the-power-of-data .card1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    grid-area: card1;
    align-items: center;
    text-align: center;
}

.leverage-the-power-of-data .card2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    grid-area: card2;
    align-items: center;
    text-align: center;

}

.leverage-the-power-of-data .card3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    grid-area: card3;
    align-items: center;
    text-align: center;

}

.leverage-the-power-of-data .card4 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    grid-area: card4;
    align-items: center;
    text-align: center;

}

.leverage-the-power-of-data .blur-center {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #542BE2;
    filter: blur(100px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.leverage-the-power-of-data img {
    width: 100%;
    height: auto;
}

.leverage-the-power-of-data .bottom-text {
    margin: 40px 0 20px;
    font-size: 18px;
    font-family: "poppins" !important;

}

.leverage-the-power-of-data .btn {
    display: inline-block;
    padding: 12px 30px;
    background: #542BE2;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    font-family: "poppins" !important;
    text-decoration: none;
    transition: background 0.3s ease;
    text-align: center;
}

.leverage-the-power-of-data .bottom-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
}

/* !WHAT YOU LEARN */

/* !BOOST CLUB MEMBERSHIPS. INCREASE FAN COMMITMENT. */
.boost-club-ms-inc-fan-com {
    /* z-index: 1; */
    margin-top: 300px;
    position: relative;
}

.boost-club-ms-inc-states-img {
    /* max-height: 500px; */
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -300px;
    z-index: -1;
}

.boost-club-ms-inc-fan-com .blurr {
    position: absolute;
    width: 80%;
    height: 100px;
    background: #542BE2;
    filter: blur(60px);
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;
}

.boost-club-ms-inc-fan-com::after {
    content: "";
    position: absolute;
    top: 100px;
    left: 0px;
    height: 600px;
    width: 100%;
    background-color: #0F0B1E;
    z-index: -1;
}

.boost-club-ms-inc-fan-com .title-bar {
    text-align: center;
    position: relative;
    z-index: 1;
}


.boost-club-ms-inc-fan-com .title-bar img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: -1000;
    max-width: 600px;
}

.boost-club-ms-inc-fan-com .container {
    padding: 0px 20px !important;
}

/* Cards */
.boost-club-ms-inc-fan-com .card-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 140px;
    z-index: 10;
}

.boost-club-ms-inc-fan-com .card-container .card {
    flex: 1;
    padding: 30px;
    background: linear-gradient(#0F0B1E, #0F0B1E) padding-box,
        linear-gradient(to bottom right, #AA95F0, #542BE2, #20083D) border-box;
    border-radius: 12px;
    /* Example for a highly rounded border */
    border: 1.4px solid transparent;
    min-height: 420px;
    max-height: 420px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.boost-club-ms-inc-fan-com .card-container .card .blur {
    position: absolute;
    width: 80%;
    height: 300px;
    background: #532be280;
    filter: blur(40px);
    right: 0px;
    top: -50px;
    /* transform: translateX(-50%); */
    z-index: -1;
}

.boost-club-ms-inc-fan-com .card-container .ctitle {
    font-size: 50px;
    margin-bottom: 10px;
}

.boost-club-ms-inc-fan-com .card-container .cpara {
    font-family: "Poppins";
}

.boost-club-ms-inc-fan-com .card-container .list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.boost-club-ms-inc-fan-com .card-container .list-wrapper .list {
    display: flex;
    gap: 10px;
    align-items: start;
    font-family: "Poppins";
}

.boost-club-ms-inc-fan-com .card-container .list-wrapper p {
    font-family: 'Poppins';
}

.boost-club-ms-inc-fan-com .card-container .list-wrapper svg {
    min-width: 20px;
}

/* banner */
.boost-club-ms-inc-fan-com .banner-container {
    margin-top: 20px;

}

.boost-club-ms-inc-fan-com .banner {
    display: flex;
    width: 100%;
    /* padding: 30px; */
    background: linear-gradient(#0F0B1E, #0F0B1E) padding-box,
        linear-gradient(to bottom right, #AA95F0, #542BE2, #20083D) border-box;
    border-radius: 12px;
    /* Example for a highly rounded border */
    border: 1.4px solid transparent;
    min-height: 340px;
    position: relative;
    z-index: 1;
}

.boost-club-ms-inc-fan-com .banner .blur {
    position: absolute;
    width: 80%;
    height: 300px;
    background: #dfac1131;
    filter: blur(40px);
    right: 0px;
    /* top: -50px; */
    /* transform: translateX(-50%); */
    z-index: -1;
}

.boost-club-ms-inc-fan-com .banner .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    flex: 1;
    text-align: center;
    justify-content: center;
    padding: 30px;
}

.boost-club-ms-inc-fan-com .banner .left {
    flex: 1;
    display: flex;
    justify-content: center;
}

.boost-club-ms-inc-fan-com .banner .left img {
    margin-top: -500px;
}

.boost-club-ms-inc-fan-com .banner .btitle {
    font-size: 80px;
}

.boost-club-ms-inc-fan-com .banner .bpara {
    max-width: 300px;
}

.boost-club-ms-inc-fan-com .banner .btn-primary {
    width: 300px !important;
    margin-top: 10px;
}

.boost-club-ms-inc-fan-com .btn {
    display: inline-block;
    padding: 12px 30px;
    background: #542BE2;
    color: white;
    font-weight: bold;
    border-radius: 8px;
    font-family: "poppins" !important;
    text-decoration: none;
    transition: background 0.3s ease;
}

.boost-club-ms-inc-fan-com .bottom-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 50px;
    width: 100%;
}

/* !SIMPLIFY Fan Management */

/* !How it works: */

/* !CLUBS set the rules. */
.rules-section {
    font-family: 'Poppins' !important;
}

.rules-section .wrper {
    background-color: #0d0a1f;
    border-radius: 12px;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    background: linear-gradient(#0F0B1E, #0F0B1E) padding-box,
        linear-gradient(to bottom right, #AA95F0, #542BE2, #20083D) border-box;
    border-radius: 12px;
    /* Example for a highly rounded border */
    border: 1.4px solid transparent;
    padding: 40px 20px;
}

.rules-content {
    flex: 1;
    /* min-width: 300px;
    max-width: 600px; */
    padding: 20px;
    font-family: 'Poppins' !important;

}

.rules-content h1 {
    font-size: 2rem;
    margin-bottom: 15px;
    font-family: 'Poppins' !important;

}

.rules-content p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #d0d0d0;
    font-family: 'Poppins' !important;

}

.rules-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.rules-list li {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    font-size: 1rem;
    font-family: 'Poppins' !important;
    gap: 10px;
    color: #f5f5f5;
}


.rules-list li svg {
    min-width: 20px;
    color: #ffb800;
    flex-shrink: 0;
}

/* .rules-list li::before {
    content: "✔";
    color: #ffb800;
    margin-right: 10px;
    font-weight: bold;
} */

.rules-button {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #6b46f2;
    font-family: 'Poppins' !important;

    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
}

.rules-button:hover {
    background-color: #4a2fbf;
}

.rules-image {
    flex: 1;
    /* min-width: 300px;
    max-width: 500px; */
    /* padding: 20px; */
    width: 100%;
    text-align: center;
}

.rules-image img {
    /* max-width: 100%; */
    width: 100%;
    height: auto;
    margin-top: -150px;
    border-radius: 12px;
}

@media (max-width: 768px) {
    .rules-section .wrper {
        flex-direction: column-reverse;
        text-align: center;
    }

    .rules-section .wraper2 {
        flex-direction: column;
    }

    .rules-section .wraper2 .rules-image {
        margin-bottom: 50px;
    }

    /* 
.rules-image {
    min-width: 80% !important; 
} */

    .rules-image h1 {
        font-size: 20px;
    }

    .rules-content {
        padding: 0px;
    }

    .rules-content h1 {
        font-size: 20px !important;
        display: none;
        margin-top: 10px;
    }

    .rules-list li {
        text-align: left;
        align-items: start;
    }

    .rules-list li svg {
        min-width: 20px;
    }

    .rules-content p {
        font-size: 10px
    }

    .rules-button {
        font-size: 12px;
    }
}

/* !Protecting clubs from vote manipulation and fraudulent memberships. */

/* !Join Sports Heist At No Cost to Your Club */
.join-sports-heist-nocost {
    background-color: #0F0B1E;
    margin-top: 200px;
    position: relative;
    /* z-index: 1; */
}

.join-sports-heist-nocost .container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 1;
}

.join-sports-heist-nocost .container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0.01deg, #0F0B1E 29.74%, rgba(15, 11, 30, 0) 99.99%);
    filter: blur(50px);
    z-index: -1;
}

.join-sports-heist-nocost .ready-to-take-your-club-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 300px;
    top: -200px;
    z-index: -1;
}

.join-sports-heist-nocost .blur-topcenter {
    position: absolute;
    width: 70%;
    height: 100px;
    background: #DFAA11;
    filter: blur(60px);
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;

}

.join-sports-heist-nocost button {
    width: 300px;
}


.join-chips-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.join-chips-container .chip {
    border-radius: 20px;
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
    font-size: 14px;
        background: linear-gradient(#0F0B1E, #0F0B1E) padding-box,
        linear-gradient(to bottom right, #AA95F0, #542BE2, #20083D) border-box;
    border-radius: 12px;
    /* Example for a highly rounded border */
    border: 1.4px solid transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
}

/* !Footer */
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-links {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    list-style-type: none;
}

.footer .footer-links li a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.footer .credits {
    padding-top: 0px;
}

.footer .footer-right {
    display: flex;
    gap: 50px;
    align-items: center;
}

.footer .footer-login-1 {
    display: none;
}

.footer .footer-login-2 {
    display: block;
}