/* !Global */
.title {
    font-size: 50px;
}

.navbar {
    border: 0.5px solid rgba(255, 255, 255, 0.395);
    border-radius: 12px;
    height: 70px;
    padding: 0 15px;
}

.hambarger-menu {
    display: flex;
}

.navbar .nav-buttons {
    display: none;
}

.navbar .nav-links {
    position: fixed;
    top: 150px;
    right: 20px;
    min-width: 230px;
    height: fit-content;
    background-color: #0F0B1E;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
    display: none;
    z-index: 100;
}

.nav-links li {
    width: 100%;
}

.nav-links li a {
    width: 100%;
    justify-content: left;
    height: 50px;
    padding-left: 20px;
}

.nav-links .nav-links-login {
    display: block;
}

.hero-section {
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.hero-text {
    align-items: center;
}

.hero-text p {
    font-size: 15px !important;
}
/* !CHALLENGEs */
.challenges {
    margin-top: 150px;
}


.challenges .card-container {
    flex-direction: column;
    margin-top: 50px;
}

.challenges .card-container .card {

    min-height: 550px;
}

.challenges .title-bar img {
    max-width: 210px;
}

.challenges .title-bar h1 {
    font-size: 50px !important;
}

/* banner */
.challenges .banner {
    flex-direction: column;
}

.challenges .banner .left img {
    width: 210px;
}

.challenges .banner .right {
    padding-top: 0px;
}

.challenges .banner .btitle {
    font-size: 40px;
}

.challenges .banner .btn-primary {
    width: 100% !important;
}

/* !Harness fan energy to strengthen your club */
.harness-fan-energy-to-strengthen-your-club .container {
    flex-direction: column-reverse;
}

.harness-fan-energy-to-strengthen-your-club .right {
    text-align: center;
}

/* !SPORTS HEIST ENABLES CLUBS TO */
.sports-heist-enable .cards {
    flex-direction: column;
}

/* !Monetise Fan Engagement */
.monetise-fan-engagments .container {
    flex-direction: column-reverse;
}

.monetise-fan-engagments .right {
    text-align: center;
}

/* !How it works: */

/* !More engagement = More revenue */

/* !Leverage the Power of Data */
.leverage-the-power-of-data .grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas:
        "image"
        "card1"
        "card2"
        "card3"
        "card4";
    gap: 50px;
}

.leverage-the-power-of-data .card1,
.leverage-the-power-of-data .card2,
.leverage-the-power-of-data .card3,
.leverage-the-power-of-data .card4 {
    text-align: center;
    align-items: center;
}

/* !WHAT YOU LEARN */

/* !BOOST CLUB MEMBERSHIPS. INCREASE FAN COMMITMENT. */
.boost-club-ms-inc-fan-com {
    margin-top: 150px;
}

.boost-club-ms-inc-states-img {
    top: -50px;
}

.boost-club-ms-inc-fan-com .card-container {
    flex-direction: column;
    margin-top: 50px;
}

.boost-club-ms-inc-fan-com .card-container .card{
    min-height: 500px;
}

.boost-club-ms-inc-fan-com .title-bar img {
    max-width: 210px;
    top: -20px;
}

.boost-club-ms-inc-fan-com .title-bar h1 {
    font-size: 30px !important;
}

/* banner */
.boost-club-ms-inc-fan-com .banner {
    flex-direction: column;
}

.boost-club-ms-inc-fan-com .banner .left img {
    width: 210px;
}

.boost-club-ms-inc-fan-com .banner .right {
    padding-top: 0px;
}

.boost-club-ms-inc-fan-com .banner .btitle {
    font-size: 40px;
}

.boost-club-ms-inc-fan-com .banner .btn-primary {
    width: 100% !important;
}

/* !SIMPLIFY Fan Management */

/* !How it works: */

/* !CLUBS set the rules. */

/* !Protecting clubs from vote manipulation and fraudulent memberships. */

/* !Join Sports Heist At No Cost to Your Club */

/* !Footer */
.footer .container {
    flex-direction: column;
    gap: 50px;
}

.footer .footer-login-1 {
    display: block;
}

.footer .footer-login-2 {
    display: none;
}

.footer .footer-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}