/* !Global */
.title {
    font-size: 50px;
}

.navbar {
    border: 0.5px solid rgba(255, 255, 255, 0.395);
    border-radius: 12px;
    height: 70px;
    padding: 0 15px;
}

.hambarger-menu {
    display: flex;
}


.navbar 
.nav-buttons {
    display: none;
}


.navbar .nav-links {
    position: fixed;
    top: 150px;
    right: 20px;
    min-width: 230px;
    height: fit-content;
    background-color: #0F0B1E;
    flex-direction: column;
    gap: 20px;
    padding: 20px 20px;
    display: none;
    z-index: 100;
}

.nav-links li {
    width: 100%;
}

.nav-links li a {
    width: 100%;
    justify-content: left;
    height: 50px;
    padding-left: 20px;
}

.nav-links .nav-links-login{
    display: block;
}

.hero-section {
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

.hero-text {
    align-items: center;
}

.hero-text p {
    font-size: 15px !important;
}
/* !CHALLENGEs */

/* !Harness fan energy to strengthen your club */

/* !SPORTS HEIST ENABLES CLUBS TO */

/* !Monetise Fan Engagement */

/* !How it works: */

/* !More engagement = More revenue */

/* !Leverage the Power of Data */
.leverage-the-power-of-data .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "image card1"
        "image card2"
        "image card3"
        "image card4";
    gap: 50px;
}

/* !WHAT YOU LEARN */

/* !BOOST CLUB MEMBERSHIPS. INCREASE FAN COMMITMENT. */

/* !SIMPLIFY Fan Management */

/* !How it works: */

/* !CLUBS set the rules. */

/* !Protecting clubs from vote manipulation and fraudulent memberships. */

/* !Join Sports Heist At No Cost to Your Club */

/* !footer */
.footer .footer-login-1 {
    display: none;
}