/* ! Header Styles */
.header {
    width: 100%;
    background: linear-gradient(to right, #0F0B1E, #20083D);
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.navbar .nav-links {
    display: flex;
    background-color: #EDF0F533;
    border-radius: 12px;
    padding: 5px;
    height: 50px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    width: 140px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-links .nav-links-login {
    display: none;
}

.nav-links .active {
    color: #FFFFFF;
    background-color: var(--secondary-color);
    border-radius: 12px;
    font-weight: 600;
}

.hambarger-menu {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    width: 40px;
    height: 40px;
    border: 0.5px solid rgba(255, 255, 255, 0.395);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    display: none;
}

.hambarger-menu span {
    width: 20px;
    height: 2px;
    background-color: white;
    border-radius: 2px;
}


.hero-section {
    margin-top: 80px !important;
    display: flex;
    align-items: center;
    gap: 50px;
}

.hero-text {
    gap: 20px;
    display: flex;
    flex-direction: column;
    max-width: 545px;
    padding-left: 20px;
}

/* Mobile responsive - remove padding on mobile */
@media screen and (max-width: 767px) {
    .hero-text {
        padding-left: 0;
        max-width: 100%;
    }
}

.hero-text,
.hero-image {
    flex: 1;
}

.hero-image {
    margin-right: -70px;
}

.hero-image img {
    width: 100%;
    height: auto;
}

.header .blur-topleft {
    position: absolute;
    width: 500px;
    height: 500px;
    background: #542BE2;
    filter: blur(100px);
    top: -100px;
    left: -100px;
    z-index: -1;
    /* opacity: 0.7; */
}

.header .blur-bottomright {
    position: absolute;
    width: 500px;
    height: 500px;
    background: #DFAA11;
    filter: blur(100px);
    bottom: -100px;
    right: -100px;
    z-index: -1;
    /* opacity: 0.9; */
}

.hero-text .title {
    font-size: 99px;
    line-height: 95px;
}

/* ! What is Sports Heist? */
.what-is-sports-heist {
    width: 100%;
    margin-top: 0px !important;
    height: fit-content;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('../../Assets/Images/about-us/what-is-sports-heist.png');
}

.what-is-sports-heist p {
    max-width: 400px;
}

.what-is-sports-heist .content p:nth-child(2) {
    margin-bottom: 20px !important;
}

/* ! ABOUT DIGITAL SPORTS CLUBS LABS */
.about-digital-sports-club-labs .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-digital-sports-club-labs .container .left,
.right {
    flex: 1;
}

.about-digital-sports-club-labs .left {
    position: relative;
    z-index: 1;
}

.about-digital-sports-club-labs .left img {
    width: 100%;
}

.about-digital-sports-club-labs .right h1, p{
    margin-bottom: 20px !important;
}

.about-digital-sports-club-labs .blur-center {
    position: absolute;
    width: 400px;
    height: 400px;
    background: #542BE2;
    filter: blur(100px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

/* ! What We Do at DSC Labs: */
.what-we-do-at-dsc-labs {
    z-index: 1;
    position: relative;
}

.what-we-do-at-dsc-labs>div h1,
.what-we-do-at-dsc-labs>div h2,
.what-we-do-at-dsc-labs>div h3,
.what-we-do-at-dsc-labs>div p {
    font-family: "Poppins", sans-serif;
}

.what-we-do-at-dsc-labs .title {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

.what-we-do-at-dsc-labs .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 01fr 1fr;
    grid-template-areas:
        "card1 image card3"
        "card2 image card4";
    gap: 50px;
}

.what-we-do-at-dsc-labs .image {
    grid-area: image;
}

.what-we-do-at-dsc-labs .card1 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    grid-area: card1;
}

.what-we-do-at-dsc-labs .card2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    grid-area: card2;
}

.what-we-do-at-dsc-labs .card3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    grid-area: card3;
}

.what-we-do-at-dsc-labs .card4 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    grid-area: card4;
}

.what-we-do-at-dsc-labs .blur-center {
    position: absolute;
    width: 400px;
    height: 400px;
    background: #542BE2;
    filter: blur(100px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.what-we-do-at-dsc-labs img {
    width: 100%;
    height: auto;
}

/* ! Why Sports Heist? */
.why-sportsheist {
    position: relative;
    z-index: 1;
    /* overflow: hidden; */
}

.why-sportsheist .con1 {
    padding-top: 0px !important;
}

.why-sportsheist .blur-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.why-sportsheist .blur-wrapper-bottom {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
}

.why-sportsheist .title:nth-child(1),
.sub-title {
    text-align: center;
}

.why-sportsheist .cards {
    /* background-color: #0F0B1E; */
    position: relative;
    z-index: 1;
    margin-top: 100px;
    /* overflow: hidden; */
}

.blur-bottomcenter {
    position: absolute;
    width: 200px;
    height: 200px;
    background: #DFAA11;
    filter: blur(100px);
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.blur-bottomcenter-main {
    position: absolute;
    width: 300px;
    height: 300px;
    background: #542BE2;
    filter: blur(100px);
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -5;
}

.why-sportsheist .cards .container {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 300px;
    align-items: center;
    text-align: center;
}

.why-sportsheist .vr {
    width: 2px;
    height: 200px;
    background-color: white;
}

.why-sportsheist .cards .card1,
.why-sportsheist .cards .card2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0px;
    flex: 1;
    position: relative;
    background-color: #0F0B1E;
    z-index: -1;
    padding: 20px;
    border-radius: 5px;
      background: linear-gradient(#0F0B1E, #0F0B1E) padding-box,
        linear-gradient(to bottom right, #AA95F0, #542BE2, #20083D) border-box;
    border-radius: 12px;
    /* Example for a highly rounded border */
    border: 1.4px solid transparent;
    min-height: 200px;
    max-height: 270px;
}

.why-sportsheist .cards .card1 h1 {
    font-size: 40px;
    color: white !important;

}
.why-sportsheist .cards .card2 h1 {
    font-size: 40px;
    color: white !important;
}

.why-sportsheist img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

}

.why-sportsheist .img1 {
    top: -140px;
    width: 80%;
}

.why-sportsheist .img2 {
    top: -130px;
    width: 90%;

}

/* ! Join the Sports Revolution */
.join-the-sport-revo {
    background-color: #0F0B1E;
    margin-top: 200px;
    position: relative;
    /* z-index: 1; */
}

.join-the-sport-revo .container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 1;
}

.join-the-sport-revo .container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0.01deg, #0F0B1E 29.74%, rgba(15, 11, 30, 0) 99.99%);
    filter: blur(50px);
    z-index: -1;
}

.join-the-sport-revo .ready-to-take-your-club-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-width: 300px;
    top: -200px;
    z-index: -1;
}

.join-the-sport-revo .blur-topcenter {
    position: absolute;
    width: 70%;
    height: 100px;
    background: #DFAA11;
    filter: blur(60px);
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;

}

.join-the-sport-revo .btn-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* !Footer */
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-links {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    list-style-type: none;
}

.footer .footer-links li a {
    display: block;
    text-decoration: none;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

.footer .credits {
    padding-top: 0px;
}

.footer .footer-right {
    display: flex;
    gap: 50px;
    align-items: center;
}

.footer .footer-login-1 {
    display: none;
}

.footer .footer-login-2 {
    display: block;
}